<!DOCTYPE html>
<html>
  <head>
    <title>TEESH</title>
  </head>
  <body>
  <nav>
    <label>TEESH</label>
    <div class="mini-circle"></div> 
  </nav>

  <div>
    <h1></h1>
    <h3></h3>
    <button href="#">Sign up</button>
  </div>
  <%= link_to image_tag('hero_tea_cup.jpg'), root_path, class:"img-hero"%>
  <div>
    <h2>Why us</h2>
    <div class="mdd-circle"></div>
    <p></p> 
    <div class="mdd-circle"></div> 
    <p></p>
    <div class="mdd-circle"></div>
    <p></p>
  </div>
  <footer>
    <h2></h2>
    <h3></h3>
    <button href="#">Sign up</button>
    <%= link_to image_tag('cta_tea_cup_desktop.jpg'), root_path, class:"img-cta_desk"%>
  </footer>
  </body>
</html>
